body{
    color:#4e4e4e;
}

.App{
  max-width: 960px;
  margin: 0 auto;
}

.screen-heading{
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  margin: 2%;
}

.app-title-left{
  text-align: left;
  font-size: 26px;
  font-weight: 600;
  margin: 2%;
  color: #efb6b2;
}